URxvt*loginShell:true
URxvt*transparent:true
URxvt*shading:5
URxvt*scrollBar:false
URxvt*scrollBar_right:false
URxvt*scrollBar_floating:false
URxvt*scrollstyle:plain
URxvt*secondaryScroll:true
URxvt.letterSpace:-0.9

!# how many lines you want it to save per session
URxvt*saveLines:32767

URxvt*font: xft:Inconsolata\ for\ Powerline:antialias=true:pixelsize=16
URxvt*boldFont: xft:Inconsolata\ for\ Powerline:style=bold:antialias=true:pixelsize=16
URxvt*italicFont: xft:Inconsolata\ for\ Powerline:style=italic:antialias=true:pixelsize=16
URxvt*boldItalicFont: xft:Inconsolata\ for\ Powerline:style=bolditalic:antialias=true:pixelsize=16


!# with this set to true, when an app sends a bell to the terminal, awesome hilights the appropriate tag(s) 
URxvt*urgentOnBell: true

! 'font-size' perl extension enables changing the font on-the-fly. Install 'urxvt-font-size-git' from AUR.
! 'clipboard' extension allows interaction with X clipboard.
URxvt*perl-ext-common: default,matcher,clipboard,font-size

! 'font-size' extension mappings
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

!URxvt*perl-ext-common: default,matcher,-option-popup,-selection-popup,-realine,clipboard
URxvt*matcher.button: 1

! Bindings for copy-paste, as given in the clipboard extension
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! Need to do this for Control+Shift mappings to work.
URxvt.iso14755: false

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! dont forget to change this to your favorite browser
URxvt*urlLauncher: firefox

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults
 
*background: #1D1F21
*foreground: #C5C8C6
! black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6
