#####################
#  CUSTOM SNIPPETS  #
#####################
snippet today "Inserts current date"
`date +"%B %d, %Y"`
endsnippet
snippet Today "Inserts current date"
`date +"%A, %B %d, %Y"`
endsnippet

snippet now "current time"
`date +"%R"`
endsnippet

snippet author "This is me"
Author: Hersh Singh [hershdeep@gmail.com]
endsnippet

snippet me "This is me"
Hersh Singh
endsnippet

# vim:ft=snippets:
